.app {
   color: #F7A8B8;
   size: 30px; 
   margin-top: 10%;
   margin-left: 10%;
   margin-right: 30%;
}

.words {
    color: #55CDFC;
    size: 30px; 
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 30%;
}

a:link {
	color: #F7A8B8;
	text-decoration: none;
}

a:visited {
	color: #F7A8B8;
	text-decoration: none;
}

a:hover {
	color: hotpink;
	text-decoration: underline;
}

img {
    padding: 10px; 
    max-width: 20%;
    height: auto;
}